<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Start at</th>
      <th>Opponent</th>
      <th>Home score</th>
      <th>Away score</th>
      <th>Win loss</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.field %></td>
        <td><%= game.start_at %></td>
        <td><%= game.opponent %></td>
        <td><%= game.home_score %></td>
        <td><%= game.away_score %></td>
        <td><%= game.win_loss %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
